
<table>
    <tbody>
        <tr>
            <th>MEAT URL</th>
            <td>
                <input type='text' id='settings_url' value="<%= settings['url'] %>" name="settings[url]" placeholder="http://meat">
            </td>
        </tr>
    </tbody>
</table>

